/* Swinburne Main Styles

   Updated: Wed 03.06.2015 - DS - Add ul.first-level-menu div span styles (matches ul.first-level-menu a span styles)
   Updated: Mon 08.04.2013 - RR - Add no-navcol template styles
   Updated: Mon 26.11.2012 - RR - Add social media icons style
   Updated: Thu 16.02.2012 - MJ - Add accordion h3 style
   Updated: Mon 30.01.2012 - MJ - Edited accordion styles
   Updated: Mon 12.12.2011 - MJ - Add accordion styles
   Updated: Thu 17.11.2011 - MJ - Add two styes: First Level Icon Menus + Block List Columns
   Updated: Wed 17.08.2011 - MJ - Change img.flow-left padding values
   Updated: Fri 29.04.2011 - RR - Updatated ".all" style outside panels.
   Updated: Fri 09.01.2009 - CR - Added in Content Panels.
   Updated: Tue 07.10.2008
   ----------------------------------------------------*/

/* OLD TEMPLATE STYLES
   ----------------------------------------------------*/
.main {
	vertical-align: top;
	width: 100%;
}

.home {
	vertical-align: top;
	width: 100%;
}

.main_intro_grey {
	font-size: 1.3em;
	color: #474747;
}

.main_text_black_bold {
	font-weight: bold;
}

.main_text_secondary_grey {
	color: #666;
}

.main_text_secondary_grey_bold {
	color: #666;
	font-weight: bold;
}

.main_title_black {
	font-size: 1.3em;
	font-weight: bold;
}

.main_title_grey {
	font-size: 1.3em;
	color: #474747;
	font-weight: bold;
}

.main_title_ltgrey {
	font-size: 1.3em;
	color: #666;
}

.main_title_dkgrey {
	font-size: 1.05em;
	font-weight: bold;
}




/* LIST STYLES
   ----------------------------------------------------*/
.main_ul, .main_ul_2 {
	list-style-type: none;
	margin: 0;
	padding:0;
}

.main_ul li, .main_ul_2 li {
	background: url("//www.swinburne.edu.au/images/arrow7.gif") no-repeat top left;
	padding-left: 1.3em;
	padding-top: 0.15em;
}

.main_ul_2 li {
	background-image: url("//www.swinburne.edu.au/images/arrow8.gif");
	padding-left: 1.3em;
	padding-top: 0.15em;
}

.main_dl, .main_dl_2 {
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
}

.main_dl dt, .main_dl_2 dt {
	background: url("//www.swinburne.edu.au/images/arrow7.gif") no-repeat 0 -3px;
	padding-left: 1.3em
}

.main_dl_2 dt {
	background: url("//www.swinburne.edu.au/images/arrow8.gif") no-repeat 4px -3px;
}


/* OLD TABLE STYLES
   ----------------------------------------------------*/
table .main_table {
	border-collapse: collapse;
	padding: 0;
	border-right: 1px solid #fff;
}

.main_results_table th {
	background-color: #CCC;
	font-weight: bold;
	text-align: left;
	padding: 2px 10px 2px 5px;
}

.main_results_table td {
	padding: 2px 10px 2px 5px;
	vertical-align: top;
}

.main_results_table tr.dark {
	background-color: #EFEFEF;
}

.main_results_table tr.light {
	background-color: #FAFAFA;
}

.main_results_table tr.darker {
	background-color: #CCC;
	font-weight: bold;
}


/* MISCELANOUS TABLE STYLES
   ----------------------------------------------------*/
hr {
	clear:both;
	border: none;
	background-color: #e4e4e4;
	color: #e4e4e4;
	height: 1px;
	width: 100%;
}

/*.dotted_line {
	display:block;
	background: url('/images/main_div.gif') repeat-x bottom;
	height:5px;
}*/

/* CMS -Is this still required? */
.mceVisualAid {
	border: 1px dashed #BBBBBB;
}


/* NEW TEMPLATE STYLES
   ----------------------------------------------------*/

/* STANDARD TABLE FORMAT STYLES
   ----------------------------------------------------*/
table.standard {
	border:0; width:98%;
}

table.standard th {
	background:#fafafa;
	border:1px solid #e1e1e1;
	border-width:1px 0;
	text-align:left;
	padding:5px;
}

table.standard td {
	padding:3px 5px;
	vertical-align:top;
}

table.standard tr.alt {
	background: #FBFBFB;
}

table.standard tr:hover td {
	background:#f4f4f4;
}


/* IMAGE STYLES AND LAYOUTS
   ----------------------------------------------------*/
img {
	border:0;
}

img.flow-left {
	border:0;
	float:left;
	padding-right:15px; /* 17.08.11 - was: 10px*/
	padding-bottom:10px; /* 17.08.11 - was: 15px*/
}

img.flow-right {
	border:0;
	float:right;
	padding-left:10px;
	padding-bottom:15px;
}

div.flow-left {
	border:0;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

div.flow-right {
	border:0;
	float:right;
	margin-left:20px;
	margin-bottom:15px;
}

div.display-image {
	border:1px solid #e4e4e4;
	padding:10px 15px;
	text-align:center;
	margin-bottom:20px;
}

div.display-image p {
	font-weight:bold;
	margin:0;
}

div.display-image img {
	margin:5px auto;
}

.zoom {
	display:block;
	font-size: .90em;
	padding-left: 20px;
	background: url("//www.swinburne.edu.au/images/icons/image-zoom.gif") scroll no-repeat left bottom;
	text-align:left;
}

div.display-image-simple {
	border:0;
}


/*ACCORDION
 - Created by Digital Marketing
 - Last edited by MJ, Web Office, 30 Jan 2012
----------------------------*/


/*ACCORDION - Wrapperfix
----------------------------*/

div.wrapperfix-sub-menu {
	border-bottom:1px solid white;
	position:relative;
	top:0;
	margin-left: 0px;
	max-width:517px; /*Added 30 Jan 2012 by MJ*/
}

div.wrapperfix-sub-menu.indent {
	margin-left: 35px;
}

/*Can be taken off after transition*/
div.wrapperfix-block {
	border-bottom:1px solid white;
	float:none;
	background-color: white;
	color: #666666;
	position:relative;
	top:0;
	width: 553px; /*Edited 30 Jan 2012 by MJ. Was: 553px;*/
}



/* ACCORDION - Main Menu
--------------------------------------------------------------------*/

.accordion-main-menu a.menu-heading {
	background:url("//www.swinburne.edu.au/images/icons/accordion-plus-black.gif") no-repeat scroll 12px 8px #dbdbdb;
	border-bottom:1px solid #FFFFFF;
	color:#313132;
	display:block;
	font-size:12px;
	font-weight:bold;
	padding: 6px 2px 6px 36px;
	text-decoration:none;
	margin-bottom:2px;
}

.accordion-main-menu a.ui-state-active {
	background:url("//www.swinburne.edu.au/images/icons/accordion-minus-black.gif") no-repeat scroll 12px 8px #dbdbdb;
	border-bottom:0 none;
}

.accordion-main-menu div p {
	line-height:1.2em;
	margin:0;
	padding: 5px 12px 5px 10px; /*Edited 14 Mar 2012 by RR. Was: 10px 12px 5px 10px;  */

}

.accordion-main-menu h3{
	margin-left: 10px;
}

.accordion-main-menu {
	background:none repeat scroll 0 0 white;
	margin-top: 0px;
	width: 553px;
}


/*ACCORDION - Sub Menu
-------------------------------------------------------*/

.accordion-sub-menu a.menu-heading {
	background:url("//www.swinburne.edu.au/images/icons/accordion-plus-grey.gif") no-repeat scroll 12px 8px #f0f0f0;
	border-bottom:3px solid #FFFFFF;
	margin-left: 0px;
	color:#313132;
	display:block;
	font-size:12px;
	font-weight:bold;
	padding-bottom:6px;
	padding-left:36px;
	padding-top:6px;
	text-decoration:none;
	margin-top: 2px;
	margin-bottom: 0px;
}

.accordion-sub-menu.indent a.menu-heading {
	margin-left: 34px;
}

.accordion-sub-menu a.ui-state-active {
	background:url("//www.swinburne.edu.au/images/icons/accordion-minus-grey.gif") no-repeat scroll 12px 8px #f0f0f0;
	border-bottom:0 none;
}

.accordion-sub-menu div p {
	line-height:1.2em;
	margin:0px;
}

.accordion-sub-menu {
	background:none repeat scroll 0 0 white;
	border: none;
}

.accordion-sub-menu a:hover {
	background-color: #dbdbdb;
	cursor: pointer;
	text-decoration: none;
}


/* FIRST LEVEL MENU STYLES
   ----------------------------------------------------*/
div.panels ul.first-level-menu { /* For panels only no indent */
	padding:0;
}

ul.first-level-menu {
	border-top:1px solid #f1f1f1;
	margin:10px 0 20px;
	padding:0;
}

ul.first-level-menu li {
	margin:0;
	list-style:none;
	border-bottom:1px solid #f1f1f1;
}

ul.first-level-menu li ul,
ul.first-level-menu li ul li {
	list-style-type:square;
	border:none;
}

ul.first-level-menu a  {
	padding:5px 0 5px 20px;
	text-decoration:none;
	font-size:1.2em;
	display:block;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") scroll no-repeat 11px 10px;
}

ul.first-level-menu a:hover {
	background-color:#f9f9f9;
	text-decoration:none;
}

ul.first-level-menu a span, ul.first-level-menu div span {
	display:block;
	font-size:.9em;
	padding:3px 0;
	color:#555;
	text-decoration:none;
}

ul.first-level-menu a:hover strong {
	text-decoration:underline;
}


/* FIRST LEVEL ICON MENUS STYLES -- MJ, 17 Nov 2011
   ----------------------------------------------------*/

ul.icon-menus{
	border-top: 1px solid #f1f1f1;
	margin: 0;
	padding: 0;
}

ul.icon-menus li {
	margin:0;
	list-style:none;
	border-bottom:1px solid #f1f1f1;
	height: 120px;
}

ul.icon-menus a  {
	padding: 10px 0 10px 0;
	text-decoration:none;
	font-size:1.2em;
	display:block;
	height: 100px;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") scroll no-repeat 117px 16px;
}

ul.icon-menus a:hover {
	background-color:#F9F9F9;
	text-decoration:none;

}

ul.icon-menus img{
	float: left;
	border: 0 none;
	padding:0px;
	margin: 0px 15px 10px 5px;
	width: 100px;
	height: 100px;
}


ul.icon-menus a span {
	display:block;
	font-size:.9em;
	margin:3px 0 0 125px;
	color:#555;
	text-decoration:none;
}

ul.icon-menus a strong {
	margin-left: 5px;

}

ul.icon-menus a:hover strong {
	text-decoration:underline;
}


/* BLOCK LIST COLUMNS STYLES -- MJ, 17 Nov 2011
   ----------------------------------------------------*/

.block-list li {

	list-style-type:none;
	margin-bottom:10px;
	width: 300px;
}

.block-list li a {

	background-color: #F5F5F5;
	-moz-border-radius:5px;
	padding:10px 20px;
	margin-bottom:5px;
	border: 1px solid #f1f1f1;
	-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3);
	display:block;
	width:200px;
	text-decoration: none;
	text-shadow: 0px 0px 3px white;
	font-weight:bold;
}

.block-list li a:hover {

	background-color: #dbdbdb;
	font-weight:bold;
}



/* FLOATED BULLET POINT STYLES
   ----------------------------------------------------*/
div.bullet-points {
	background:#fafafa;
	padding:5px 10px;
	font-size:.9em;
	margin-bottom:15px;
	width:200px;
}

div.bullet-points ul {
	list-style-image: url("//www.swinburne.edu.au/images/icons/bullet-red.gif");
	padding-left:0;
	margin:0 0 1em 20px;
}

div.bullet-points p {
	margin:0 0 1em;
}


/* PODCAST EPISODES STYLES
   ----------------------------------------------------*/
ul.podcast-episodes {
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #f0f0f0;
}

ul.podcast-episodes li {
	margin:0 0 2px;
	padding:10px;
	border-bottom:1px solid #f0f0f0;
}

ul.podcast-episodes li.alt {
	background:#fbfbfb;
}

ul.podcast-episodes li img {
	float:left;
}

ul.podcast-episodes li div {
	margin-left:70px;
	padding-left:8px;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") scroll no-repeat left 7px;
	font-size:.95em;
}

ul.podcast-episodes li ul,
ul.podcast-episodes li ul li,
ul.podcast-episodes li h3 {
	list-style:none;
	margin:0;
	border:0;
	padding:0;
	line-height:1.2em;
}

ul.podcast-episodes li h3 {
	font-size:1.2em;
}

ul.podcast-episodes li h3 a {
	text-decoration:none;
}

ul.podcast-episodes li h3 a:hover {
	text-decoration:underline;
}

ul.podcast-episodes li p {
	margin:0 0 1em;
}

ul.podcast-episodes li dl,
ul.podcast-episodes li dl li {
	line-height:1.5em;
}

ul.podcast-episodes li dt {
	float: left;
	width:9em;
	display:block;
	font-weight:bold;
}

ul.podcast-episodes li dd {
	margin-left:10em;
}


/* PULLQUOTE  STYLES
   ----------------------------------------------------*/
blockquote.pullquote {
	margin:10px 30px;
	background:#fafafa url("//www.swinburne.edu.au/images/icons/pullquote-bottom.gif") scroll no-repeat right bottom;
}

blockquote.pullquote p {
	padding:20px 50px;
	background:transparent url("//www.swinburne.edu.au/images/icons/pullquote-top.gif") scroll no-repeat left top;
	font-weight:bold;
	font-style:italic;
	line-height:1.5em;
	color: #2f2f2f;
	font-size: 1.2em;
}


/* PULLQUOTE HIGHLIGHT STYLES
   ----------------------------------------------------*/
blockquote.highlight {
	margin:10px 30px;
	background:#f8f8f8;
}

blockquote.highlight p {
	padding:20px 50px;
	font-weight:bold;
	line-height:1.5em;
}


/* DEFAULT LIST
   ----------------------------------------------------*/
ul {
	list-style-type:square;
}

ul li { }


/* NUMBERED LIST
   ----------------------------------------------------*/
ul.numbered {
	list-style-type:decimal;
}

/* LINK LIST STYLES
   ----------------------------------------------------*/
ul.bulletpoints li {
	list-style:none;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") no-repeat scroll 1px 6px;
	padding-left:10px;
}

ul.bulletpoints-2col {
	list-style-type:none;
}

ul.bulletpoints-2col li {
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") no-repeat scroll 1px 6px;
	float:left;
	list-style-image:none;
	margin:0px;
	padding-left:10px;
	padding-right:2px;
	width:45%;
}

ul.divided {
	padding-bottom: 10px;
	border-bottom:1px solid #f0f0f0;
}


/* DOCUMENT DOWNLOADS
   ----------------------------------------------------*/
div.panels ul.downloadable-documents { /* For panels only no indent */
	padding:0;
}

ul.downloadable-documents {
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #f0f0f0;
}

ul.downloadable-documents li {
	margin:0 0 2px;
	padding:10px;
	border-bottom:1px solid #f0f0f0;
	clear:both;
	min-height: 40px;
}
* html ul.downloadable-documents li {
	height: 40px;
} /*Set height for IE6 */

ul.downloadable-documents li.alt {
	background:#fbfbfb;
}

ul.downloadable-documents li img {
	float:left;
}

ul.downloadable-documents li div {
	margin-left:50px;
	padding-left:8px;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") scroll no-repeat left 7px;
	font-size:.95em;
}

ul.downloadable-documents li ul,
ul.downloadable-documents li ul li,
ul.downloadable-documents li h3 {
	list-style:none;
	margin:0; border:0;
	padding:0;
	line-height:1.2em;
}

ul.downloadable-documents li h3 {
	font-size:1.2em;
}

ul.downloadable-documents li h3 a {
	text-decoration:none;
}

ul.downloadable-documents li h3 a:hover {
	text-decoration:underline;
}

ul.downloadable-documents li p {
	margin:0 0 1em;
}

ul.downloadable-documents li dl,
ul.downloadable-documents li dl li {
	line-height:1.5em;
}

ul.downloadable-documents li dt {
	float: left;
	width:9em;
	display:block;
	font-weight:bold;
}

ul.downloadable-documents li dd {
	margin-left:10em;
}


/* DOCUMENT DOWNLOADS - SMALL
   ----------------------------------------------------*/
ul.downloadable-documents-small {
	list-style:none;
	margin:0;
	padding:0;
	border-top:1px solid #f0f0f0;
}

ul.downloadable-documents-small li {
	margin:0 0 2px;
	padding:10px;
	border-bottom:1px solid #f0f0f0;
	clear:both;
	min-height: 20px;
}
* html ul.downloadable-documents-small li {
	height: 20px;
} /*Set height for IE6 */

ul.downloadable-documents-small li.alt {
	background:#fbfbfb;
}

ul.downloadable-documents-small li img {
	float:left; padding: 3px 0 0 0;
}

ul.downloadable-documents-small li div {
	margin-left:30px;
	padding-left:8px;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") scroll no-repeat left 7px;
	font-size:.95em;
}

ul.downloadable-documents-small li ul,
ul.downloadable-documents-small li ul li,
ul.downloadable-documents-small li h4 {
	list-style:none;
	margin:0;
	border:0;
	padding:0;
	line-height:1.4em;
}

ul.downloadable-documents-small li h4 {
	font-size:1.1em;
}

ul.downloadable-documents-small li h4 a {
	text-decoration:none;
}

ul.downloadable-documents-small li h4 a:hover {
	text-decoration:underline;
}

ul.downloadable-documents-small li p {
	margin:0 0 1em;
}

ul.downloadable-documents-small li dl,
ul.downloadable-documents-small li dl li {
	line-height:1.5em;
}

ul.downloadable-documents-small li dt {
	float: left;
	width:9em;
	display:block;
	font-weight:bold;
}

ul.downloadable-documents-small li dd {
	margin-left:10em;
}


/* BULLETIN
   ----------------------------------------------------*/
div.bulletin-latest {
	background:#FBFBFB;
	margin:10px 30px;
	padding:20px;
	border:1px solid #e1e1e1;
	border-width:1px 0;
}

div.bulletin-latest h2 {
	margin:0;
}

div.bulletin-latest img {
	float:left;
	margin-right:20px;
}

div.bulletin-latest strong {
	margin-right:20px;
}

div.bulletin-latest a {
	text-decoration:none;
}

div.bulletin-latest a:hover {
	text-decoration:underline;
}

div.bulletin-latest dl {
	line-height:1.5em;
}

div.bulletin-latest dt {
	float: left;
	width:9em;
	display:block;
	font-weight:bold;
}

div.bulletin-latest dd {
	margin-left:10em;
}


/* EVENTS
   ----------------------------------------------------*/
dl.event-details {
	margin:10px;
	padding:10px;
	border:0px solid #e1e1e1;
}

dl.event-details dt {
	float: left;
	width:9em;
	display:block;
	font-weight:bold;
	padding-bottom:7px;
}

dl.event-details dd {
	margin-left:10em;
	padding-bottom:7px;
}

dl.event-details dd p {
	margin:0 0 1em;
}

dl.alt {
	background:#fafafa;
	border-width:1px 0;
}


/* CONTENT PANELS
   ----------------------------------------------------*/
div.panels {
	float:left;
	width: 46%;
	margin: 0 20px 8px 0;
}

* html div.panels {
	width: 44%;
}

div.panels h2 {
	margin: 18px 0 14px 0;
}

div.panels p {
	line-height: normal;
}

/* Updated 29.04.11 */
div.panels div.all, div.all {
	padding: 10px 0 5px 0;
}

/* Updated 29.04.11 */
div.panels div.all a, div.all a{
	text-decoration: none;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red-all.gif") no-repeat scroll 1px 6px;
	padding: 0px 0 0px 12px;
	font-weight: bold;
}

/* Updated 29.04.11 */
div.panels div.all a:hover, div.all a:hover {
	text-decoration: underline;
}

div.panels ul {
	margin: 0;
	padding: 0 0 0 16px;
}


/* LINK LISTS - (Link, Descriptions)
   ----------------------------------------------------*/
div.link-list {
	padding: 0;
}

div.link-list ul {
	margin: 0;
	padding: 0;
}

div.link-list ul li {
	list-style: none;
	background: transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") no-repeat scroll 1px 5px;
	padding: 0 0 4px 12px;
}

div.link-list ul li p {
	margin: 0;
}


/* ICON LISTS (Icon, Link, Description)
   ----------------------------------------------------*/
div.icon-list ul {
	margin: 0;
	padding: 0;
}

div.icon-list ul li {
	list-style-type: none;
	padding: 0 0 15px 0;
	min-height: 55px;
}

* html div.icon-list ul li {
	height: 55px;
}

div.icon-list ul li div {
	margin-left: 65px;
	padding: 0;
}

div.icon-list ul li p {
	margin: 1px 0 1px 0;
}

div.icon-list ul li p strong {
	color: #3f3f3f;
}

div.icon-list ul li p a strong, div.icon-list ul li p strong a {
	color: #D71B00;
}

div.icon-list ul li img {
	float:left;
	vertical-align:top;
	margin: 2px 8px 0 0;
}

div.icon-list ul li img.border {
	border: 1px solid #d4d4d4;
	padding: 2px;
	margin: 0 8px 0 0;
}

div.icon-list div.all {
	margin-top: -8px;
}

/* Bulletpoints within icon list */
div.icon-list ul li ul.bulletpoints li {
	list-style:none;
	background:transparent url("//www.swinburne.edu.au/images/icons/bullet-red.gif") no-repeat scroll 1px 6px;
	min-height: 2px;
	padding: 0 0 4px 10px;
}


/* DESCRIPTION LIST (Heading, Description, Link)
   ----------------------------------------------------*/
div.desc-list {
	padding: 0;
}

div.desc-list ul {
	margin: 0;
	padding: 0;
}

div.desc-list ul li {
	list-style: none;
	padding: 0 0 17px 0px;
}

div.desc-list ul li p {
	margin: 0;
}


/* PROMOTIONAL MESSAGE
   ----------------------------------------------------*/
div.promo-message {
	background:#545454;
	padding: 12px;
	color: #fff;
	font-size:1.1em;
}

div.promo-message p {
	margin:0;
	padding:0;
	line-height: 1.4em;
}

div.promo-message a, div.promo-message a:link, div.promo-message a:visited, div.promo-message a:hover  {
	color: #fff;
}

/* TOP STYLE
   ----------------------------------------------------*/
div.top {
	background: url("//www.swinburne.edu.au/images/icons/top.gif") no-repeat left 3px;
	padding-left: 12px;
	font-size: 0.95em;
}


/* BREADCRUMBS STYLES
   ----------------------------------------------------*/
#breadcrumbs {
	margin: 0px;
	padding: 0px;
	color: #999;
}

#breadcrumbs ul {
	/*border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;*/
	list-style: none;
	margin: 0px 0 0 0;
	/*padding: 5px 0px 5px 0px;*/
	padding: 5px 0px 3px 0px;
	font-size: 0.95em;
}

#breadcrumbs li {
	margin: 0px;
	padding: 0px 10px 0px 0px;
	display:inline;
}

#breadcrumbs li a {
	text-decoration: none;
}

#breadcrumbs li a:hover {
	text-decoration: underline;
}

/* EMAIL PRINT TOOLS
   ----------------------------------------------------*/
.swin-tools {
	text-align: right;
	padding: 2px;
	border-bottom: 1px solid #EDEDED;
	font-size:0.95em;
	vertical-align: middle;
}

.swin-tools img {
	margin-right: 10px;
}



/* EMAIL PRINT TOOLS
   ----------------------------------------------------*/
.line-dotted {
	color:#ffffff;
	background-color:#ffffff;
	border-bottom: 1px dashed rgb(153, 153, 153);
	height:15px;
}

/* TABS
----------------------------------
Added: 28 Feb 2012 by Webmaster,
Updated 14 March 2014 by Damien Clarke for responsive design
*/



#tabs {
	margin: 18px 30px 30px 25px;
}

.ui-tabs {
	position: relative; /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: 0;
}

.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: 0;
	height: auto;
	background: url("//www.swinburne.edu.au/images/tab-background.gif") repeat-x scroll 0 3px #FFFFFF;
	overflow:auto;

}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	margin: 3px 0 0 0;
	padding: 0;
	height: 27px;
	white-space: nowrap;
	background-color:#f1f1f1;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.ui-tabs .ui-tabs-nav li:first-child {
	border-left: 1px solid #e0e0e0;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

.ui-tabs .ui-tabs-nav li a:hover {
	background-color:#f8f8f8;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a:hover {
	background-color:#fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	margin-bottom: 0;
	padding-bottom: 0px;
	background-color:#fff;
	border-bottom: 1px solid #fff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color:#000;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
cursor: pointer; /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
}

.ui-tabs .ui-tabs-panel {
	display: block;
	border: 0;
	padding: 4px 0;
	background: none;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

.ui-tabs .ui-tabs-mobile-heading {
	display:none; /* hide responsive tab headings on normal devices */
}


/* Social media icons */

ul.media-icons {
    border-bottom: 1px solid #FFFFFF;
    margin: 0;
    padding: 18px 0px 35px 10px;
}
ul.media-icons li {
    float: left;
    list-style-type: none;
    padding: 1px 4px 0 0;
    /*width: 16px;*/
}



/* NO-NAVCOL TEMPLATE
   --------------------------------- */
#wrapper-sidebar-no-navcol {
                background:url("//www.swinburne.edu.au/images/backgrounds/single-background-f5f2eb.jpg") repeat-y scroll 0 0 #FFFFFF;
}

#wrapper-sidebar-no-navcol div#content-col-sidebar {
                margin-left: 45px;
                padding:12px 0 40px;
                float:left;
                width: 715px;
                max-width:715px;
}

#wrapper-sidebar-no-navcol div#sidecol {
                width: 206px;
                float: right;
                padding-bottom:0px;
                border-top:1px solid #FFF;
}

#wrapper-sidebar-no-navcol div#column {
				background:none !important;
}
